/* events */
.events{
    display: flex;
    position: relative;
    cursor: pointer;
}
.eventshornlogo{
    position: absolute;
    margin-left: 45%;
    padding-top: 90px;
    width: 250px;
    z-index: 2;
}
.eventsicons{
        display: flex; 
        justify-content: right;
        gap: 0.5cm;
        margin-left: 45cm;
       
        z-index: 2;
        position: absolute;
}
.accra{
    width: 13%;
    background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65d4a8fe2b90d2cc28fd4a80_accra.jpg);
    background-size: cover;
    padding: 200px;
    background-position: center;
    text-align: center;
    position: relative;
    height: 57vh;
    color: white;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;

}
.nairobi{
    width: 13%;
    background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65e86d89c0ebe6000d4a549a_nairobi_pavilion_2024.jpg);
    background-size: cover;
    padding: 200px;
    background-position: center;
    text-align: center;
    position: relative;
    height: 57vh;
    color: white;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;


}
.zanzibar{
    width: 13%;
    background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65d4a8fe4fa225ceb84e736c_Zanzibar.jpg);
    background-size: cover;
    padding: 200px;
    background-position: center;
    text-align: center;
    position: relative;
    height: 57vh;
    color: white;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
}
.eventsnav-bottom{
    bottom: 0%;
     position: fixed;
     width: 43%;
     background-color: black;
     overflow: hidden;
     border-radius: 43px;
    margin-left: 30%;
     margin-bottom: 30px;
     height: 10%;
     z-index: 2;
}
.eventsnav-bottom a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 20px;
    font-size: 120%;
}
.eventsnav-bottom a:hover{
    color: gray;
}
#reservations{
    background: none;
    background-color: gray;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
#reservations:hover{
    color: white;
}