/* events */
.events{
    display: flex;
    position: relative;
    cursor: pointer;
}
.eventshornlogo{
    position: absolute;
    margin-left: 45%;
    padding-top: 90px;
    width: 250px;
    z-index: 2;
}
.eventsicons{
        display: flex; 
        justify-content: right;
        gap: 0.5cm;
        margin-left: 45cm;
       
        z-index: 2;
        position: absolute;
}
.accra{
    width: 13%;
    background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65d4a8fe2b90d2cc28fd4a80_accra.jpg);
    background-size: cover;
    padding: 200px;
    background-position: center;
    text-align: center;
    position: relative;
    height: 57vh;
    color: white;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;

}
.nairobi{
    width: 13%;
    background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65e86d89c0ebe6000d4a549a_nairobi_pavilion_2024.jpg);
    background-size: cover;
    padding: 200px;
    background-position: center;
    text-align: center;
    position: relative;
    height: 57vh;
    color: white;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;


}
.zanzibar{
    width: 13%;
    background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65d4a8fe4fa225ceb84e736c_Zanzibar.jpg);
    background-size: cover;
    padding: 200px;
    background-position: center;
    text-align: center;
    position: relative;
    height: 57vh;
    color: white;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
}
.eventsnav-bottom{
    bottom: 0%;
     position: fixed;
     width: 43%;
     background-color: black;
     overflow: hidden;
     border-radius: 43px;
    margin-left: 30%;
     margin-bottom: 30px;
     height: 10%;
     z-index: 2;
}
.eventsnav-bottom a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 20px;
    font-size: 120%;
}
.eventsnav-bottom a:hover{
    color: gray;
}
#reservations{
    background: none;
    background-color: gray;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
#reservations:hover{
    color: white;
}
.eventswhatsapp{
    display: flex;
    justify-content: right;
    padding-top: 23cm;
    margin-left:46cm;
    position: absolute;
    z-index: 2;
}
@media only screen and (max-width: 400px) and (min-width: 0px){
    .events{
        display:block;
        position: relative;
        cursor: pointer;
    }
    .eventshornlogo{
        position: absolute;
        padding-top: 2px;
        z-index: 2;
        padding-right: 2cm;
        margin-left: 2cm;
        width: 5%;
    }
    .eventsicons{
            display: flex; 
            justify-content: right;
            gap: 0.5cm;
            margin-left:7cm;
            z-index: 2;
            position: absolute;
    }
    .accra{
        
         width: 13%;
        background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65d4a8fe2b90d2cc28fd4a80_accra.jpg);
        background-size: cover;
        padding: 150px;
        background-position: center;
        text-align: center;
        position: relative;
        height: 67vh;
        color: white;
        font-size: 80%;
        font-family: Arial, Helvetica, sans-serif;
    
    }
    .nairobi{
        width: 13%;
        background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65e86d89c0ebe6000d4a549a_nairobi_pavilion_2024.jpg);
        background-size: cover;
        padding: 150px;
        background-position: center;
        text-align: center;
        position: relative;
        height: 67vh;
        color: white;
        font-size: 80%;
        font-family: Arial, Helvetica, sans-serif;
    
    
    }
    .zanzibar{
        width: 13%;
        background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65d4a8fe4fa225ceb84e736c_Zanzibar.jpg);
        background-size: cover;
        padding: 150px;
        background-position: center;
        text-align: center;
        margin-right: 50%;
        position: relative;
        height: 67vh;
        color: white;
        font-size: 80%;
        font-family: Arial, Helvetica, sans-serif;
    }
    .eventsnav-bottom{
        bottom: 0%;
         position: fixed;
         width: 150%;
         background-color: black;
         overflow: hidden;
         border-radius: 10px;
        margin-left: 1%;
         margin-bottom: 30px;
         height: 10%;
         z-index: 2;
    }
    .eventsnav-bottom a{
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 8px 11px;
        text-decoration: none;
        font-size: 17px;
        margin-top: 20px;
        font-size: 20%;
    }
    .eventsnav-bottom a:hover{
        color: gray;
    }
    #reservations{
        background: none;
        background-color: gray;
        border: none;
        border-radius: 30px;
        cursor: pointer;
    }
    #reservations:hover{
        color: white;
    }
    .eventswhatsapp{
        display: flex;
        justify-content: right;
        padding-top: 15cm;
        margin-left:8cm;
        position: absolute;
        z-index: 2;
    }
}
@media only screen and (max-width: 800px) and (min-width: 0px){
    .events{
        display:block;
        position: relative;
        cursor: pointer;
    }
    .eventshornlogo{
        position: absolute;
        padding-top: 15px;
        z-index: 2;
        margin-left: 8.5cm;
        width: 5%;
    }
    .eventsicons{
            display: flex; 
            justify-content: right;
            gap: 0.5cm;
            margin-left:18cm;
            z-index: 2;
            position: absolute;
    }
    .accra{
        
         width: 13%;
        background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65d4a8fe2b90d2cc28fd4a80_accra.jpg);
        background-size: cover;
        padding: 368px;
        background-position: center;
        text-align: center;
        position: relative;
        height: 35vh;
        color: white;
        font-size: 150%;
        font-family: Arial, Helvetica, sans-serif;
    
    }
    .nairobi{
        width: 13%;
        background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65e86d89c0ebe6000d4a549a_nairobi_pavilion_2024.jpg);
        background-size: cover;
        padding: 368px;
        background-position: center;
        text-align: center;
        position: relative;
        height: 35vh;
        color: white;
        font-size: 150%;
        font-family: Arial, Helvetica, sans-serif;
    
    
    }
    .zanzibar{
        width: 13%;
        background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65d4a8fe4fa225ceb84e736c_Zanzibar.jpg);
        background-size: cover;
        padding: 368px;
        background-position: center;
        text-align: center;
        margin-right: 50%;
        position: relative;
        height: 35vh;
        color: white;
        font-size: 150%;
        font-family: Arial, Helvetica, sans-serif;
    }
    .eventsnav-bottom{
        bottom: 0%;
         position: fixed;
         width: 90%;
         background-color: black;
         overflow: hidden;
         border-radius: 10px;
        margin-left: 5%;
         margin-bottom: 30px;
         height: 10%;
         z-index: 2;
    }
    .eventsnav-bottom a{
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 8px 11px;
        text-decoration: none;
        font-size: 17px;
        margin-top: 20px;
        font-size: 130%;
    }
    .eventsnav-bottom a:hover{
        color: gray;
    }
    #reservations{
        background: none;
        background-color: gray;
        border: none;
        border-radius: 30px;
        cursor: pointer;
    }
    #reservations:hover{
        color: white;
    }
    .eventswhatsapp{
        display: flex;
        justify-content: right;
        padding-top: 22cm;
        margin-left:18cm;
        position: absolute;
        z-index: 2;
    }
}