/* kilimani menu */
.kilimani-picture{
    background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65c4760165c03d467b650bcb_1.jpg);
    background-size: cover;
    width: 50%;
    text-align: center;
    height: 100vh;
    z-index: 1;
    position: relative;
    position: fixed;
    padding-top: 10cm;
}
.food-menu{
   background-color: black;
   background-size: cover;
   width: 50%;
   height: 100vh;
   z-index: 1;
   position: fixed;
   margin-left: 24cm;
   display: flex;
   gap: 3cm;
   
   a{
    text-decoration: none;
    color: coral;
   }

}
.iteminmenu{
    z-index: 2;
    position: absolute;
    color:white;
    top: 3cm;
    position:absolute ;
    margin-top:1px ;
    margin-left: 27cm;
    height: 190vh;

}
.menu-main{
    display: flex;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.espresso{
    display: flex;
    gap: 2cm;
}
#espressologo{
    width: 100px;
    height: 100px;
}
.capucchino{
    display: flex;
    gap: 2cm;

}
#capucchinologo{
    width: 100px;
    height: 100px;
}
.mocha{
display: flex;
gap: 2cm;
}
#mochalogo{
width: 100px;
height: 100px;
}
.machiatto{
display: flex;
gap: 2cm;
}
#machiattologo{
    width: 100px;
    height: 100px;
}
.latte{
    display: flex;
    gap: 2cm;
}
#lattelogo{
    width: 100px;
    height: 100px;
}
.ankolebigbreakfast{
display: flex;
gap: 2cm;
}
#bigbreakfastlogo{
    width: 100px;
    height: 100px;
}
#crepelogo{
    width: 100px;
    height: 100px;
}
.crepe{
    display: flex;
    gap: 2cm;
}
.browns{
    display: flex;
    gap: 2cm;
}
#brownslogo{
    width: 100px;
    height: 100px;

}
.thai{
display: flex;
gap: 2cm;
}
#thailogo{
    width:100px ;
    height: 100px;
}
.keenwa{
display: flex;
gap: 2cm;
}
#keenwalogo{
    width: 100px;
    height: 100px;
}
.greek{
display: flex;
gap: 2cm;
}
#greeklogo{
    width: 100px;
    height: 100px;
}
.cob{
display: flex;
gap: 2cm;
}
#coblogo{
    width: 100px;
    height: 100px;
}
.salad{
display: flex;
gap: 2cm;
}
#saladlogo{
    width: 100px;
    height: 100px;
}
.salmon{
    display: flex;
    gap: 2cm;
}
#salmonlogo{
    width: 100px;
    height: 100px;
}
.mango{
    display: flex;
    gap: 2cm;
}
#mangologo{
    width: 100px;
    height: 100px;
}
.pineapple{
    display: flex;
    gap: 2cm;
}
#pineapplelogo{
    width: 100px;
    height: 100px;
}
.passion{
    display: flex;
    gap: 2cm;
}
#passionlogo{
    width: 100px;
    height: 100px;
}
.sugarcane{
    display: flex;
    gap: 2cm;
}
#sugarcanelogo{
    width: 100px;
    height: 100px;
}
.orange{
    display: flex;
    gap: 2cm;
}
#orangelogo{
    width: 100px;
    height: 100px;
}
#tea{
    color: coral;
}
.kilimaninav-bottom{
    bottom: 0%;
     position: fixed;
     width: 43%;
     background-color: black;
     overflow: hidden;
     border-radius: 43px;
    margin-left: 3%;
     margin-bottom: 30px;
     height: 10%;
     z-index: 2;
}
.kilimaninav-bottom a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 20px;
    font-size: 120%;
}
.kilimaninav-bottom a:hover{
    color: gray;
}
#reservations{
    background: none;
    background-color: gray;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
#reservations:hover{
    color: white;
}