/* * kitisuru menu */ 
.kitisuru-picture{
    background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65c4760165c03d467b650bcb_1.jpg); 
    background-size: cover;
    width: 50%;
    text-align: center;
    height: 100vh;
    z-index: 1;
    position: relative;
    position: fixed;
    padding-top: 10cm;
    
}
.actual-menu{
    background-color: black;
   background-size: cover;
   width: 50%;
   height: 100vh;
   z-index: 1;
   position: relative;
   margin-left: 24cm;
   position: fixed;

}
.main-menu{
    display: flex;
    /* position: relative; */
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;


}
.actual-menu{
    display:flex;
    text-align:right;
    gap: 1cm;
    /* text-decoration: none; */
    /* color: orangered; */
    padding-left: 10px;
    gap: 3cm;
    a{
        text-decoration: none;
        color: coral;

    }
}
.foodmenu{
    z-index: 2;
    text-decoration: none;
    position: absolute;
    right: 3cm;
    color: rgb(245, 240, 240);
    width:40% ;
    top: 3cm;
    list-style-type: none;
    /* font-size: 30px; */
    margin-left: 36.5cm;
    margin-top: 1px;
    height: 190vh;
    text-align: center;
}
.itemsinmenu{
    position: absolute;
    z-index: 2;
    margin-left: 27cm;
    color: antiquewhite;
}
.ki-espresso{
    display: flex;
    gap: 2cm;
    h5{
        /* font-size: 20px; */
        font-family: Arial, Helvetica, sans-serif;
        /* text-align: center; */
    }
    p{
        /* font-size: 20px; */
        font-family: Arial, Helvetica, sans-serif;
        /* text-align: center; */
    }
    /* justify-content: space-between; */
}
#ki-espressologo{
    width: 100px;
    height: 100px;
}
.ki-capucchino{
    display: flex;
    gap: 2cm;

}
#ki-capucchinologo{
    width: 100px;
    height: 100px;
}
.ki-mocha{
display: flex;
gap: 2cm;
}
#ki-mochalogo{
width: 100px;
height: 100px;
}
.ki-machiatto{
display: flex;
gap: 2cm;
}
#ki-machiattologo{
    width: 100px;
    height: 100px;
}
.ki-latte{
    display: flex;
    gap: 2cm;
}
#ki-lattelogo{
    width: 100px;
    height: 100px;
}
.ki-ankolebigbreakfast{
display: flex;
gap: 2cm;
}
#ki-bigbreakfastlogo{
    width: 100px;
    height: 100px;
}
#ki-crepelogo{
    width: 100px;
    height: 100px;
}
.ki-crepe{
    display: flex;
    gap: 2cm;
}
.ki-browns{
    display: flex;
    gap: 3cm;
}
#ki-brownslogo{
    width: 100px;
    height: 100px;

}
.ki-thai{
display: flex;
gap: 2cm;
}
#ki-thailogo{
    width:100px ;
    height: 100px;
}
.ki-keenwa{
display: flex;
gap: 2cm;
}
#ki-keenwalogo{
    width: 100px;
    height: 100px;
}
.ki-greek{
display: flex;
gap: 2cm;
}
#ki-greeklogo{
    width: 100px;
    height: 100px;
}
.ki-cob{
display: flex;
gap: 2cm;
}
#ki-coblogo{
    width: 100px;
    height: 100px;
}
.ki-salad{
display: flex;
gap: 2cm;
}
#ki-saladlogo{
    width: 100px;
    height: 100px;
}
.ki-salmon{
    display: flex;
    gap: 2cm;
}
#ki-salmonlogo{
    width: 100px;
    height: 100px;
}
.ki-mango{
    display: flex;
    gap: 2cm;
}
#ki-mangologo{
    width: 100px;
    height: 100px;
}
.ki-pineapple{
    display: flex;
    gap: 2cm;
}
#ki-pineapplelogo{
    width: 100px;
    height: 100px;
}
.ki-passion{
    display: flex;
    gap: 2cm;
}
#ki-passionlogo{
    width: 100px;
    height: 100px;
}
.ki-sugarcane{
    display: flex;
    gap: 2cm;
}
#ki-sugarcanelogo{
    width: 100px;
    height: 100px;
}
.ki-orange{
    display: flex;
    gap: 2cm;
}
#ki-orangelogo{
    width: 100px;
    height: 100px;
}
#coffee{
    color: coral;
}
.kitisurunav-bottom{
    bottom: 0%;
     position: fixed;
     width: 43%;
     background-color: black;
     overflow: hidden;
     border-radius: 43px;
    margin-left: 3%;
     margin-bottom: 30px;
     height: 10%;
     z-index: 2;
}
.kitisurunav-bottom a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 20px;
    font-size: 120%;
}
.kitisurunav-bottom a:hover{
    color: gray;
}
#reservations{
    background: none;
    background-color: gray;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
#reservations:hover{
    color: white;
}