
.review{
 margin-bottom: 27cm;
 position: absolute;
 font-size: 150%;

}
h1{
    color: white;
    text-align: center;
    padding-top: 10cm;
   

    
}
body{
    overflow: hidden;
}
#headlogo{
    position: absolute;
    z-index: 2;
    margin-left: 21cm;
    padding-top: 1cm;
}
.page{
    background: #050505;
    color: #ffffff;
    width: 100%;
    min-height:90vh;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
  
    & .slide-container{
        width: 50%;
        color: white;
    }
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40%;
}
.top{
    display: flex;
    align-items: center;
    gap: 50px;
}
.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    color: white;
    background: black;
    width: 50px;
    height: 40px;
    border-radius: 50%;
     margin-top: 30%;
    
}
.frame{
    width: 1000px;
    height: 500px;
    overflow: hidden;
}
.slider{
    display: flex;
    width: 200vw;
    transition: all 1s ease;
    margin-bottom: 40%;
}
.slide{
    width: 70vm;
    flex-shrink: 0;
    padding: 3%;
    padding-left: 140px;
    padding-top: 10cm;
  
}
.slide p{
    text-align: center;
    padding-top: 0px;
}
.testimonial{
    /* width: 100%; */
    object-fit: cover;
    height: 100%;
    object-fit: cover;
}

.reviewicons{
    display:flex; 
    justify-content:right;
    gap: 0.5cm;
    position: absolute;
    right: 0.5cm;
    top: 2%;
}
.reviewsnav-bottom{
    bottom: 0%;
     position: fixed;
     width: 100%;
     background-color: black;
     overflow: hidden;
     border-radius: 43px;
    margin-left: 25%;
     /* margin-bottom: 30px; */
     height: 9%;
     position: absolute;
     z-index: 2;
}
.reviewsnav-bottom a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 20px;
    font-size: 90%;
}
.reviewsnav-bottom a:hover{
    color: gray;
}
#reservations{
    background: none;
    background-color: gray;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
#reservations:hover{
    color: white;
}