
.nav-bottom{
   bottom: 0%;
    position: fixed;
    width: 45%;
    background-color: black;
    overflow: hidden;
    border-radius: 43px;
    margin-left: 30%;
    margin-bottom: 30px;
    height: 10%;

}
#welcome{
    font-size: 650%;
    color: gray;
    

}
body{
    margin: 0;
}
.hornlogo{
    position: absolute;
    margin-left: 40%;
    padding-top: 150px;
    width: 200px;
}
.landingpage{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vw;
    animation: landingpage 20s ease-in infinite;
}
@keyframes landingpage{
    0%{background-image: url("imagesfolder/firstslide.jpg");}
    33%{background-image: url("imagesfolder/secondslide.jpg");}
    66%{background-image: url("imagesfolder/thirdslide.jpg");}
    100%{background-image: url("imagesfolder/firstslide.jpg");}
    /* 80%{background-image: url("imagesfolder/https://files.slack.com/files-pri/T08BR1M9D6V-F08NCPRS1FU/anokle_it_self.jpg");} */
   /* 100%{background-image: url("imagesfolder/firstslide.jpg");} */
}
.nav-bottom a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 20px;
    font-size: 120%;
}
.nav-bottom a:hover{
    color: gray;
}
#reservations{
    background: none;
    background-color: gray;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
#reservations:hover{
    color: white;
}
.icons{
    display: flex;
    justify-content: right;
    gap: 0.5cm;
    margin-right: 20px;
}
.whatsapp{
    display: flex;
    justify-content: right;
    padding-top: 23cm;
    margin-right: 2cm;
    
}
/* Menu */
.kitisuru{
    width: 40%;
    background-image: url(imagesfolder/kitisuru.jpg);
    background-size: cover;
    padding: 200px;
    background-position: center;
    text-align: center;
    position: relative;
    height: 57vh;
    
}
.kilimani{
    position: relative;
     background-image: url(imagesfolder/kilimani.jpg); 
    background-size: cover;
    text-align: center;
    padding: 200px;
    background-position: center;
    height: 57vh;
    width: 40%;
    }
    .kilimani a{
         color: white; 
        text-decoration: none;
        cursor: pointer;

    }
    .kitisuru a{
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    .menuhornlogo{
        position: absolute;
        margin-left: 45%;
        padding-top: 110px;
        width: 230px;
        z-index: 2;

    }
.menu{
    display: flex;
    position: relative;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    
}
#karibukili{
    color: coral;
}
#kiliheading{
    font-size: 200%;
}
#karibukiti{
    color: coral;

}
#kitiheading{
    font-size: 200%;
}
.menuicons{
   display: flex; 
    justify-content: right;
    gap: 0.5cm;
    margin-right: 15px;
    padding-top: 5px;
    margin-top: -40%;
   
}
.menunav-bottom{
    bottom: 0%;
     position: fixed;
     width: 60%;
     background-color: black;
     overflow: hidden;
     border-radius: 43px;
    margin-left: -29%;
     /* margin-bottom: 30px; */
     height: 9%;
}
.menunav-bottom a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 20px;
    font-size: 90%;
}
.menunav-bottom a:hover{
    color: gray;
}
#reservations{
    background: none;
    background-color: gray;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
#reservations:hover{
    color: white;
}
.menuwhatsapp{
    display: flex;
    justify-content: right;
    padding-top: 23cm;
    margin-left:15cm;
    position: absolute;
    z-index: 2;
}
/* Menu Page */
@media only screen and (max-width: 800px) and (min-width: 0px){
    .kitisuru{
        width: 30%;
        background-image: url(imagesfolder/kitisuru.jpg);
        background-size: cover;
        padding: 100px;
        background-position: center;
        text-align: center;
        position: relative;
        height: 119vh;
        
    }
    .kilimani{
        position: relative;
         background-image: url(imagesfolder/kilimani.jpg); 
        background-size: cover;
        text-align: center;
        padding: 100px;
        background-position: center;
        height: 119vh;
        width: 30%;
        }
        .kilimani a{
             color: white; 
            text-decoration: none;
            cursor: pointer;
    
        }
        .kitisuru a{
            color: white;
            text-decoration: none;
            cursor: pointer;
        }
        #karibukili{
            color: coral;
        }
        #kiliheading{
            font-size: 200%;
        }
        #karibukiti{
            color: coral;
        }
        #kitiheading{
            font-size: 200%;
        }
        .menuhornlogo{
            position: absolute;
            margin-left: 45%;
            padding-top: 110px;
            width: 230px;
            z-index: 2;
    
        }
    .menu{
        display: flex;
        position: relative;
        font-size: 150%;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    .menuicons{
       display: flex; 
        justify-content: right;
        gap: 0.5cm;
        margin-right: 5px;
        padding-top: 25px;
        margin-top: -40%;
       
    }
    .menunav-bottom{
        bottom: 0%;
         position: fixed;
         width: 73%;
         background-color: black;
         overflow: hidden;
         border-radius: 43px;
        margin-left: -50%;
         height: 9%;
    }
    .menunav-bottom a{
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 8px;
        text-decoration: none;
        font-size: 17px;
        margin-top: 20px;
        font-size: 90%;
    }
    .menunav-bottom a:hover{
        color: gray;
    }
    #reservations{
        background: none;
        background-color: gray;
        border: none;
        border-radius: 30px;
        cursor: pointer;
    }
    #reservations:hover{
        color: white;
    }
    .menuwhatsapp{
        display: flex;
        justify-content: right;
        padding-top: 28cm;
        margin-left:8cm;
        position: absolute;
        z-index: 2;
    }
}

@media only screen and (max-width: 400px) and (min-width: 0px){
.kitisuru{
    width: 48%;
    background-image: url(imagesfolder/kitisuru.jpg);
    background-size: cover;
    padding: 108px;
    background-position: center;
    text-align: center;
    position: relative;
    height: 72vh;
    
}
.kilimani{
    position: relative;
     background-image: url(imagesfolder/kilimani.jpg); 
    background-size: cover;
    text-align: center;
    padding: 108px;
    background-position: center;
    height: 72vh;
    width: 48%;
    }
    .kilimani a{
         color: white; 
        text-decoration: none;
        cursor: pointer;

    }
    .kitisuru a{
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    .menuhornlogo{
        position: absolute;
        margin-left: 20%;
        padding-top: 10px;
        width: 230px;
        z-index: 2;

    }
.menu{
    display: block;
    position: relative;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    
}
#karibukili{
    color: coral;
}
#kiliheading{
    font-size: 200%;
}
#karibukiti{
    color: coral;

}
#kitiheading{
    font-size: 200%;
}
.menuicons{
   display: flex; 
    justify-content: right;
    gap: 0.5cm;
    margin-right: 15px;
    padding-top: 5px;
    margin-top: -40%;
   
}
.menunav-bottom{
    bottom: 0%;
     position: fixed;
     width: 95%;
     background-color: black;
     overflow: hidden;
     border-radius: 43px;
    margin-left: -27%;
     height: 9%;
}
.menunav-bottom a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 20px;
    font-size: 5%;
}
.menunav-bottom a:hover{
    color: gray;
}
#reservations{
    background: none;
    background-color: gray;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
#reservations:hover{
    color: white;
}
.menuwhatsapp{
    display: flex;
    justify-content: right;
    padding-top: 15cm;
    margin-left:5cm;
    position: absolute;
    z-index: 2;
}
}
/* Home Bar */
@media only screen and (max-width:800px) and (min-width:0px){
.nav-bottom{
    bottom: 0%;
     position: fixed;
     width: 80%;
     background-color: black;
     overflow: hidden;
     border-radius: 43px;
     margin-left: 8%;
     margin-bottom: 30px;
     height: 10%;
 
 }
 #welcome{
     font-size: 650%;
     color: gray;
     
 
 }
 body{
     margin: 0;
 }
 .hornlogo{
     position: absolute;
     margin-left: 25%;
     padding-top: 150px;
     width: 200px;
 }
 .landingpage{
     background-size: cover;
     background-repeat: no-repeat;
     width: 100vw;
     height: 100vh;
     animation: landingpage 20s ease-in infinite;
 }
 @keyframes landingpage{
     0%{background-image: url("imagesfolder/firstslide.jpg");}
     33%{background-image: url("imagesfolder/secondslide.jpg");}
     66%{background-image: url("imagesfolder/thirdslide.jpg");}
     100%{background-image: url("imagesfolder/firstslide.jpg");}
     /* 80%{background-image: url("imagesfolder/https://files.slack.com/files-pri/T08BR1M9D6V-F08NCPRS1FU/anokle_it_self.jpg");} */
    /* 100%{background-image: url("imagesfolder/firstslide.jpg");} */
 }
 .nav-bottom a{
     float: left;
     display: block;
     color: white;
     text-align: center;
     padding: 14px 8px;
     text-decoration: none;
     font-size: 17px;
     margin-top: 20px;
     font-size: 120%;
 }
 .nav-bottom a:hover{
     color: gray;
 }
 #reservations{
     background: none;
     background-color: gray;
     border: none;
     border-radius: 30px;
     cursor: pointer;
 }
 #reservations:hover{
     color: white;
 }
 .icons{
     display: flex;
     justify-content: right;
     gap: 0.5cm;
     margin-right: 20px;
 }
 .whatsapp{
     display: flex;
     justify-content: right;
     padding-top: 20cm;
     margin-right: 1cm;
     
 }
}